2. számú melléklet: A dolgozatra vonatkozó szerkezeti és formai követelmények

A dolgozat alakja: A4 formátum.

Oldalbeállítás: álló lapok (a melléklet lehet fekvő), tükörmargó 2,5 cm (kötésmargó értelem szerint, kb. 1 cm), betűtípus Times New Roman, oldalszámozás: jobb alsó sarokban arab számok (2. oldaltól).

Nyomtatás: minden lap egyoldalasan és ugyanazon az oldalon nyomtatva.

A dolgozat részei:

    első kötéstábla,
    címoldal,
    feladatkiírás,
    tartalmi összefoglaló,
    tartalomjegyzék,
    érdemi rész,
    irodalomjegyzék,
    nyilatkozat,
    köszönetnyilvánítás,
    melléletek,
    hátsó kötéstábla,
    Elektronikus melléklet.

A dolgozat terjedelme mellékletek nélkül alapszakon 25-50 oldal mesterszakon 30-60 oldal.

A dolgozat előírt terjedelmébe a következő részek számolandók bele: d) tartalmi összefoglaló, e) tartalomjegyzék, f) érdemi rész, g) irodalomjegyzék.

A dolgozat kötelező formai elemei: b) címoldal, c) feladatkiírás, d) tartalmi összefoglaló, e) tartalomjegyzék, f) érdemi rész, g) irodalomjegyzék, h) nyilatkozat. (A kötelező formai elemek egyike sem lehet üres.)
Dolgozatban felhasznált anyagok
Idézetek

A dolgozatban idézni (betű szerint átvenni szövegeket) csak indokolt esetben lehet (elsősorban jól megírt definíciókat, irodalmi szövegeket), ezek körét mindenképp egyeztetni kell a témavezetővel, konzulenssel. Az idézet szövegeket egyértelműen jelölni kell idézőjelekkel, valamint a forrás feltüntetésével. Egyértelmű jelzés nélkül, betű szerint átvenni szövegeket plágiumnak számít, és etikai eljárást von maga után.
Képek, ábrák

A dolgozatban indokolt esetben fel lehet használni mások által készített ábrákat, képeket. Ezek forrását egyértelműen jelölni kell.
A dolgozat részeire vonatkozó követelmények:
a) első kötéstábla

Az első kötéstábla külső oldala csak az intézmény nevét: Szegedi Tudományegyetem, Informatikai Intézet; a dolgozat típusát: Szakdolgozat / Diplomamunka; a hallgató nevét és a végzés évét tartalmazza. Belső oldala üres. Bekötött dolgozatoknál releváns, ilyet azonban nem szükséges leadni.
b) címoldal (kötelező)

A címoldal elkészítése a minta aktualizálásával történhet leggyorsabban. Tartalmazza az egyetem és az intézet nevét, a dolgozat címét (magyarul és opcionálisan angolul), a szakdolgozat/diplomamunka megjelölést, a szerzőt valamint a témavezetőket.
c) feladatkiírás (kötelező)

A témavezető által megfogalmazott feladatkiírás.
d) tartalmi összefoglaló (kötelező)

A tartalmi összefoglalónak tartalmaznia kell (rövid- legfeljebb egy oldal-, velős és összefüggő megfogalmazásban) a következőket:

    téma megnevezése,
    megadott feladat megfogalmazása - a feladatkiíráshoz viszonyítva-,
    megoldási mód,
    alkalmazott eszközök, módszerek,
    elért eredmények,
    kulcsszavak (4-6 darab).

A tartalmi összefoglaló nyelvének meg kell egyeznie a dolgozat nyelvével. Ha a dolgozat idegen nyelven készül, magyar nyelvű összefoglaló készítése is kötelező (külön lapon), melynek terjedelmét az SZTE TTIK Tanulmányi Ügyrend szabályozza.
e) tartalomjegyzék (kötelező)

A legnagyobb mélység: 3.
f) érdemi rész

A hallgató ebben a részben írja le a feladat megoldását, melyben külön fejezetekben összesítendők:

    a felhasznált módszerek, eszközök;
    a saját elvégzett munka (az elvégzett saját munka jól különüljön el a felhasznált irodalomtól és a mások által elért eredményektől);
    az eredmények tézispontszerű ismertetése.

Formai követelmények:

Ábrák

Középre rendezve, fejezetenként számozva (fejezetszám.ábraszám), névvel ellátva.

Kisebb ábrák, táblázatok, fényképek lehetőleg kerüljenek a szövegben a megfelelő helyre. Nagyobb ábrák, táblázatok, programvázlatok a dolgozat végére (Mellékletek) kerülhetnek. Térképek, programok, gépi futtatás dokumentumai, stb. a hátsó további mellékletként csatolhatók. Az ábrákon alkalmazott jelöléseket a szövegben meg kell magyarázni, az irodalomból átvett ábrák esetében a forrást meg kell adni; minden ábrára és mellékletre legyen hivatkozás a szövegben.

Általános szabályok

Minden műveleti jelet (számtani, halmazelméleti, stb.) megelőz és követ egy-egy szóköz; minden írásjelet (pont, vessző, kérdőjel, stb.) követ egy szóköz; a zárójelek: normál (nem dőlt).

Címek

Értelemszerűen arab számozással, Heading 1: 14 pt, bold; további Heading: 12 pt, bold; minden cím előtt és után egy-egy plusz sortávolság.

Fejléc tartalma

A dolgozat címe, vagy fejezetenként a fejezet címek.

Hivatkozások

Szögletes zárójelben a hivatkozott mű irodalomjegyzékbeli sorszáma (ha több hivatkozás van egyazon helyen, akkor sorszámaik felsorolása növekvő sorrendben egymástól vesszővel elválasztva, egyetlen szögletes zárójel-párban).

Képletek

Középre rendezve, fejezetenként számozva; betűk: dőlt, számjegyek: normál; a képletet megelőzi és követi egy-egy sorköz.

Nyelvi ajánlás

Magyar, ill. idegen nyelv szempontjából a Magyar Helyesírási Szabályzat, ill. a megfelelő nyelvi szabályzat.

Szöveg

Sorkizárt, 12 pt, 1.5 sortávolság.

Új bekezdés

Az új bekezdés első sorát nem előzi meg üres sorköz. Cím utáni bekezdés kivételével ez legyen behúzott.

Változók szövegben

Dőlt.
g) irodalomjegyzék (kötelező)

Az irodalomjegyzék legyen pontos és visszakereshető, a jegyzék elemei között 1 sorköz van. Az irodalomjegyzék tételeit 1-sel induló növekvő sorszámmal kell ellátni. A használt betűméret 10 pt.

Weboldalakra való hivatkozások esetén is meg kell adni az adott oldal szerzőjét (ha releváns), az oldal címét, valamint az utolsó megtekintés dátumát.
h) nyilatkozat (kötelező)

A nyilatkozat szövege titkosnak nem minősített dolgozatban a következő:
Alulírott ………………..………… szakos hallgató, kijelentem, hogy a dolgozatomat a Szegedi Tudományegyetem, Informatikai Intézet ……………………….. Tanszékén készítettem, …………………….…….…… diploma megszerzése érdekében.
Kijelentem, hogy a dolgozatot más szakon korábban nem védtem meg, saját munkám eredménye, és csak a hivatkozott forrásokat (szakirodalom, eszközök, stb.) használtam fel. Tudomásul veszem, hogy szakdolgozatomat / diplomamunkámat a Szegedi Tudományegyetem Diplomamunka Repozitóriumában tárolja.

dátum, aláírás/név

A nyilatkozat aláírása opcionális, a hallgató a dolgozat moduloba való feltöltéssel elfogadja a nyilatkozat tartalmát.

A nyilatkozat szövege titkosnak minősített dolgozatban a következő:

Alulírott ................ szakos hallgató, kijelentem, hogy a dolgozatomat a Szegedi Tudományegyetem, Informatikai Intézet .......... Tanszékén készítettem, ............ diploma megszerzése érdekében. Kijelentem, hogy a dolgozatot más szakon korábban nem védtem meg, saját munkám eredménye, és csak a hivatkozott forrásokat (szakirodalom, eszközök, stb.) használtam fel. Tudomásul veszem, hogy szakdolgozatomat / diplomamunkámat a TVSZ 4. sz. mellékletében leírtak szerint kezelik.

dátum, aláírás

Példa egy kitöltött nyilatkozatra, ha a hallgató neve Kiss Zénó, a szakja programtervező informatikus BSc, a dolgozat a Szoftverfejlesztés Tanszéken készült, a dolgozatot benyújtási időpontja 2011. május 10.:

Alulírott Kiss Zénó programtervező informatikus BSc szakos hallgató, kijelentem, hogy a dolgozatomat a Szegedi Tudományegyetem, Informatikai Intézet Szoftverfejlesztés Tanszékén készítettem, programtervező informatikus BSc diploma megszerzése érdekében.

Kijelentem, hogy a dolgozatot más szakon korábban nem védtem meg, saját munkám eredménye, és csak a hivatkozott forrásokat (szakirodalom, eszközök, stb.) használtam fel.

Tudomásul veszem, hogy szakdolgozatomat a Szegedi Tudományegyetem Diplomamunka Repozitóriumában tárolja.

2011. május. 10. Kiss Zénó



Angol nyelvű nyilatkozat:

I, the undersigned [name], a student majoring in Computer Science MSc, hereby declare that I have prepared my thesis at the Department of [department name], Institute of Informatics, University of Szeged, for the purpose of obtaining my MSc degree in Computer Science.

I declare that I have not previously defended this thesis in another program, it is the result of my own work, and I have used only the cited resources (literature, tools, etc.). I am aware that my thesis will be stored in the University of Szeged Thesis Repository.

Date, signature/name
i) köszönetnyilvánítás (opcionális)

Nem kötelező, de amennyiben a hallgató köszönetet akar nyilvánítani az őt segítőknek, ebben a részben ezt megteheti.
j) mellékletek (opcionális)

Itt helyezhetők el a dolgozathoz tartozó szöveges dokumentumok.

Magyar nyelvű képzésen nem magyar nyelvű dolgozatok esetén a dolgozat magyar nyelvű összefoglalója a melléklet része.

Figyelem! Amennyiben a dolgozathoz tartozik implementáció, akkor a forráskódot minden esetben az elektronikus mellékletben mellékelni kell.
k) hátsó kötéstábla

A hátsó kötéstábla külső oldala üres, belső oldala felhasználható, pl. a mellékelt CD rögzítésére.

A dolgozatnak az elvárt formában való elkészítését word sablon  (címoldal minta, word sablon a dolgozat készítéséhez,melléklet minta), illetve a latex minta (link2) segíti, ezek egyikének használata javasolt. A sablon tartalmaz egy mintát az első kötéstáblára vonatkozóan, továbbá a szükséges stílusokat; a fiktív szövegek átírásával a munka gyorsítható. Fizikailag nyomtatott és bekötött dolgozat esetében a következő kötéstábla minta használatát javasoljuk (az egyetemen ilyet nem kell leadni).
l) Elektronikus melléklet

A hallgatónak a dolgozatot PDF formátumban, a releváns forráskódokat és egyéb szakmai anyagokat mellékelnie kell a dolgozathoz. A mellékleteket a CooSpace-ben meghirdetett szakdolgozat feladathoz kell feltölteni. 5 MB-ig egyetlen zip fájlban. Amennyiben a mellékletek terjedelme nagyobb, akkor a legfontosabb 5 MB-ot kell feltölteni, a további mellékleteket pedig valamilyen tárhelyen kell elérhetővé tenni a bizottság számára a záróvizsgaidőszak végéig (a tárhelyre mutató linket, bejelentkezési adatokat meg lehet adni a CooSpace feladatban).

A témavezetővel illetve belső konzulenssel célszerű egyeztetni, hogy milyen mellékletekre van szükség az elvégzett munka pontos értékeléséhez.
